<div class="card justify-center align-center">
  <form
    class="login-form"
    [formGroup]="loginUserDataFormGroup"
    (ngSubmit)="loginUser()"
  >
    <p class="title-container">Welcome back!</p>

    <div
      class="input-label-container"
      [class.error]="
        loginUserDataFormGroup.get('email')?.touched &&
        loginUserDataFormGroup.get('email')?.invalid
      "
    >
      <label class="subtitle-container">Email</label>
      <div class="input-container container-size">
        <input
          class="input-field"
          type="email"
          formControlName="email"
          (click)="resetWarnings()"
        />
      </div>
    </div>

    <div
      class="input-label-container"
      [class.error]="
        loginUserDataFormGroup.get('password')?.touched &&
        loginUserDataFormGroup.get('password')?.invalid
      "
    >
      <label class="subtitle-container">Password</label>
      <div class="input-container container-size">
        <input
          class="input-field"
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="password"
          (click)="resetWarnings()"
        />
        <button
          type="button"
          class="search-button"
          (click)="hidePassword = !hidePassword"
        >
          <img
            [src]="
              hidePassword
                ? PATHS.ICONS + 'eye-slash-solid.svg'
                : PATHS.ICONS + 'eye-solid.svg'
            "
            class="icon"
            alt=""
          />
        </button>
      </div>
    </div>

    <div class="button-container">
      <button
        class="button"
        [class.disabled]="loginUserDataFormGroup.invalid"
        type="submit"
        id="form-button"
      >
        Sign in
      </button>
    </div>
    <div
      class="password-hint align-center justify-center"
      *ngIf="showPasswordErrorMessage"
    >
      {{ errorMessage }}
    </div>
  </form>
</div>
