<header class="header">
  <div class="header-container">
    <div class="container is-fluid header-divider">
      <div class="header-left">
        <h1 class="home-link" (click)="goBack()">Documents</h1>
        <img [src]="PATHS.ICONS + 'chevron-right.svg'" alt="" />

        <span
          appContentEditable
          #nameInput
          class="input"
          (blur)="changeDocumentName($event)"
          >{{ !loading ? 'Temp name' : 'Loading...' }}</span
        >
        <img
          loading="eager"
          [src]="PATHS.ICONS + 'lock-open.svg'"
          *ngIf="document.visibility"
          class="visibility-icon"
          (click)="changeVisibility()"
          alt=""
        />
        <img
          loading="eager"
          [src]="PATHS.ICONS + 'lock-closed.svg'"
          *ngIf="!document.visibility"
          class="visibility-icon"
          (click)="changeVisibility()"
          alt=""
        />
        <input
          type="file"
          class="file-input"
          (change)="onFileSelected($event)"
          #fileUpload
        />

        <img
          loading="eager"
          [src]="PATHS.ICONS + 'upload-solid.svg'"
          class="visibility-icon"
          (click)="fileUpload.click()"
          alt=""
        />

        <div *ngIf="fileName" class="container-file-title">
          <p (click)="downloadDocument()" class="file-title">{{ fileName }}</p>
          <div class="container-delete-file-img" (click)="removeFile()">
            <img
              id="delete-file-img"
              [src]="PATHS.ICONS + 'x-solid.svg'"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="header-right">
        <div class="button" (click)="createDocument()">
          <img [src]="PATHS.ICONS + 'pen.svg'" class="arrow" alt="" />
          <span>Save changes</span>
        </div>
      </div>
    </div>
  </div>
  <div class="container subheader justify-start align-center">
    <div class="text">Created by</div>
    <div class="user-icon" [style.background-color]="getUserName() | generateColor">{{ getUserInitials() }}</div>
  </div>
</header>

<div class="container">
  <app-keywords
    [readOnly]="false"
    [keywords]="[]"
    (keywordsChanged)="keywordsChanged($event)"
  ></app-keywords>
  <div class="card" #noteContent contenteditable></div>
</div>
