<img [src]="PATHS.IMAGES + 'blob.png'" alt="" class="blob-background"/>
<nav class="nav-container slimScroll scroll-hidden">
    <img [src]="PATHS.IMAGES + 'logo.svg'" alt="" class='logo'/>
    <div class="nav-link-container">
        <a
            class="nav-link"
            [routerLink]="['/notes']"
            routerLinkActive="is-active"
        >
            <img [src]="PATHS.ICONS + 'notes.svg'" class="nav-icon" />
            <img [src]="PATHS.ICONS + 'angles-right.svg'" class="arrow" alt="" />
        </a>
        <a
            class="nav-link"
            [routerLink]="['company-docs']"
            routerLinkActive="is-active"
        >
            <img [src]="PATHS.ICONS + 'guidelines.svg'" class="nav-icon" />
            <img [src]="PATHS.ICONS + 'angles-right.svg'" class="arrow" alt="" />
        </a>
        <a
            class="nav-link"
            [routerLink]="['trainings']"
            routerLinkActive="is-active"
        >
            <img [src]="PATHS.ICONS + 'trainings.svg'" class="nav-icon" />
            <img [src]="PATHS.ICONS + 'angles-right.svg'" class="arrow" alt="" />
        </a>
    </div>
</nav>
