$weight-thin: 100 !default
$weight-light: 300 !default
$weight-normal: 400 !default
$weight-medium: 500 !default
$weight-semibold: 700 !default
$weight-bold: 900 !default

$font-size: 14px
$font-size-subtitle: 18px
$font-size-title: 28px

$transition-duration: .2s

$border-radius-floating: .6rem

$box-shadow-primary: 0 0 0 1px rgb(185 187 190 / 30%), 0 2px 5px 0 rgb(0 0 0 / 5%)
$box-shadow-light: 0 2px 12px 0 rgba(0,0,0,0.04)
$box-shadow-stroke: 0 0 0 1px rgba(6,6,7,0.08)
$box-shadow-section: 0 1px 3px 0 rgba(0,0,0,0.04)
$box-shadow-card: -2px 2px 4px rgba(0, 0, 0, 0.25)
