<header class="header">
  <div class="header-container">
    <div class="container is-fluid header-divider">
      <div class="header-left">
        <h1 class="home-link">Trainings</h1>
      </div>
      <div class="header-right" *ngIf="isUserTrainer()">
        <div class="button" [class.disabled]="loading" [routerLink]="['new']">
          <img [src]="PATHS.ICONS + 'plus.svg'" class="arrow" alt="" />
          <span>Add new</span>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <app-search-bar></app-search-bar>
  </div>
</header>

<div class="loading-spinner" [class.not-loading]="!loading">
  <mat-spinner *ngIf="loading"></mat-spinner>
</div>

<div class="container" *ngIf="!loading">
  <div class="table card" [class.is-closed]="!isToDoOpen">
    <div class="columns is-header">
      <div class="column is-4 has-toggle">
        <img
          [src]="PATHS.ICONS + 'chevron-right.svg'"
          class="toggle-arrow icon"
          (click)="isToDoOpen = !isToDoOpen"
          alt=""
        />
        <span>TODO</span>
      </div>
      <div class="column is-3">Required Level</div>
      <div class="column is-4">Reward</div>
      <div class="column is-1"></div>
    </div>
    <div class="columns-wrapper" *ngFor="let training of todoTrainings">
      <div
        class="columns"
        (click)="toggleDetails(training.id)"
        [class.enough-level-columns]="hasEnoughLevel(training.requiredLevel)"
        [class.not-enough-level-columns]="
          !hasEnoughLevel(training.requiredLevel)
        "
      >
        <div class="column is-4">{{ training.title }}</div>
        <div class="column is-3">
          <div
            class="points-required-icon"
            [style.background-color]="training.requiredLevel | levelColor"
          >
            {{ training.requiredLevel }}
          </div>
        </div>
        <div class="column is-4">
          {{ training.reward + 'xp' }}
        </div>
        <div class="column is-1">
          <img
            [src]="PATHS.ICONS + 'trash-solid.svg'"
            class="icon"
            alt=""
            (click)="deleteTraining($event, training)"
            *ngIf="matchesUserId(training.user.id)"
          />
        </div>
      </div>
      <div
        class="columns flex-column align-start"
        [class.not-enough-level-rows]="!hasEnoughLevel(training.requiredLevel)"
        *ngIf="expandedTrainingId === training.id"
      >
        <div class="column">{{ training.text }}</div>
        <div class="column">
          <div
            class="button"
            [class.disabled]="!hasEnoughLevel(training.requiredLevel)"
            (click)="
              hasEnoughLevel(training.requiredLevel)
                ? startTraining(training, $event)
                : null
            "
          >
            <img [src]="PATHS.ICONS + 'pen.svg'" class="arrow" alt="" />
            <span>Start training</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="!loading">
  <div class="table card" [class.is-closed]="!isCompletedOpen">
    <div class="columns is-header">
      <div class="column is-4 has-toggle">
        <img
          [src]="PATHS.ICONS + 'chevron-right.svg'"
          class="toggle-arrow icon"
          (click)="isCompletedOpen = !isCompletedOpen"
          alt=""
        />
        <span>Completed</span>
      </div>
      <div class="column is-3">Required Level</div>
      <div class="column is-4">Reward</div>
      <div class="column is-1"></div>
    </div>
    <div class="columns-wrapper" *ngFor="let training of completedTrainings">
      <div class="columns" (click)="toggleDetails(training.id)">
        <div class="column is-4">{{ training.title }}</div>
        <div class="column is-3">
          <div
            class="points-required-icon icon-color"
            [style.background-color]="training.requiredLevel | levelColor"
          >
            {{ training.requiredLevel }}
          </div>
        </div>
        <div class="column is-4">
          {{ training.reward + 'xp' }}
        </div>
        <div class="column is-1">
          <img
            [src]="PATHS.ICONS + 'trash-solid.svg'"
            class="icon"
            alt=""
            (click)="deleteTraining($event, training)"
            *ngIf="matchesUserId(training.user.id)"
          />
        </div>
      </div>
      <div
        class="columns flex-column align-start cursor-default"
        *ngIf="expandedTrainingId === training.id"
      >
        <div class="column">{{ training.text }}</div>
        <div class="column">
          <div class="button" (click)="viewTraining(training.id)">
            <img [src]="PATHS.ICONS + 'eye-solid.svg'" class="arrow" alt="" />
            <span>View training</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
