@import "colours"
@import "variables"

#container-not-found
  border-top: 1px solid $gray-light
  &:hover
    cursor: default
    background-color: white

  .not-found
    font-size: $font-size-subtitle
    cursor: text


.icon
  filter: $filter-gray-secondary

.points-required-icon
    color: $white
    height: 40px
    width: 40px
    display: flex
    justify-content: center
    align-items: center
    border-radius: 50%
    cursor: pointer
    transition: all $transition-duration

    &:hover, &.is-active
      opacity: .9

.icon-color
  background-color: $blue-primary

.not-enough-level-columns
  color: $gray-secondary

.not-enough-level-rows
  cursor: default !important
  color: $gray-secondary

.training-row
  border-bottom: 1px solid #ddd
  padding: 10px

.training-row.expanded
  background-color: #eee

.training-details
  padding: 10px
