<header class="header">
    <div class="header-container">
      <div class="container is-fluid header-divider">
        <div class="header-left">
          <h1 class="home-link" [routerLink]="['/notes']">Documents</h1>
          <img [src]="PATHS.ICONS + 'chevron-right.svg'" alt="" />
          <span
            appContentEditable
            #nameInput
            *ngIf="!readOnly"
            class="input"
            (blur)="changeDocumentName($event)"
            >{{ !loading ? 'Temp name' : 'Loading...' }}</span
          >
          <h2 #nameInput *ngIf="readOnly">{{ !loading ? 'Temp name' : 'Loading...' }}</h2>
          <img [src]="PATHS.ICONS + 'lock-open.svg'" *ngIf="document.visibility" class="visibility-icon" (click)="changeVisilibity()" alt="" />
          <img [src]="PATHS.ICONS + 'lock-closed.svg'" *ngIf="!document.visibility" class="visibility-icon" (click)="changeVisilibity()" alt="" />
        </div>
        <div class="header-right">
          <div class="button" (click)="saveDocument()">
            <img [src]="PATHS.ICONS + 'pen.svg'" class="arrow" alt=""/>
            <span>Save changes</span>
          </div>
        </div>

      </div>
    </div>
    <div class="container subheader justify-start align-center">
      <div class="text">Created by</div>
      <div class="user-icon">II</div>
      <div class="text">Last modified 2 minutes ago</div>
    </div>
  </header>

  <div class="container">
    <app-keywords (keywordsChanged)="keywordsChanged($event)"></app-keywords>
    <div class="card" #noteContent contenteditable>
    </div>
  </div>