@import 'colours'
@import "typography"
@import "variables"

.keywords-title
  font-family: $font-family
  font-size: $font-size-subtitle
  font-weight: 400
  padding-right: 10px

.search-container
    padding: 0 5px
    margin: 0 5px 5px 0
    min-width: 150px
    width: 150px

.search-input
    width: 100%
    padding-right: 0

.keywords
    display: flex
    align-items: center
    margin-top: 40px

    .keyword
        padding: 2px 5px
        margin-right: 5px
        color: $white
        background-color: $blue-primary
        border-radius: 5px
        text-wrap: nowrap

        img
            filter: $filter-white
            margin-left: 10px
            height: 10px
            cursor: pointer
