@import "variables"
@import "colours"
@import "typography"

.buttons-container
  display: flex
  justify-content: space-evenly

.confirmationContainer
  border-radius: $border-radius-floating
  .headline-container
    font-family: $font-family
    font-size: $font-size
    color: $gray-primary
