<header class="header">
  <div class="header-container">
    <div class="container is-fluid header-divider">
      <div class="header-left">
        <h1 class="home-link">Users</h1>
      </div>
      <div class="header-right">
        <div class="button" [routerLink]="['new']">
          <img [src]="PATHS.ICONS + 'plus.svg'" class="arrow" alt="" />
          <span>Add new</span>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <app-search-bar></app-search-bar>
  </div>
</header>

<div class="loading-spinner" [class.not-loading]="!loading">
  <mat-spinner *ngIf="loading"></mat-spinner>
</div>

<div class="container" *ngIf="!loading">
  <div class="table card">
    <div class="columns is-header">
      <div class="column is-4"></div>
      <div class="column is-3">Role</div>
      <div class="column is-3">Level</div>
      <div class="column is-3">XP</div>
      <div class="column is-3"></div>
    </div>
    <div class="columns" *ngFor="let user of users" (click)="viewUser(user.id)">
      <div class="column is-4">{{ getUserName(user) }}</div>
      <div class="column is-3">{{ user.role }}</div>
      <div class="column is-3">
        <div
          class="user-icon"
          [style.background-color]="user.level | levelColor"
        >
          {{ user.level }}
        </div>
      </div>
      <div class="column is-3">{{ user.points + 'xp' }}</div>
      <div class="column is-3"></div>
    </div>
  </div>
</div>
