<header class="header">
  <div class="header-container">
    <div class="container is-fluid header-divider">
      <div class="header-left">
        <h1 class="home-link" (click)="goBack()">Trainings</h1>
        <img
          class="chevron-img"
          [src]="PATHS.ICONS + 'chevron-right.svg'"
          alt=""
        />
        <h1 class="add-training-title">
          {{ loading ? 'Loading...' : 'Add training' }}
        </h1>
      </div>

      <div class="header-right">
        <div class="button" (click)="createTraining()">
          <img [src]="PATHS.ICONS + 'pen.svg'" class="arrow" alt="" />
          <span>Save changes</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <app-keywords
    [readOnly]="false"
    [keywords]="[]"
    (keywordsChanged)="keywordsChanged($event)"
  ></app-keywords>
</div>

<div class="card">
  <form [formGroup]="createTrainingForm" class="create-training-form">
    <div class="left-container">
      <div class="input-label-container" [class.error]="isInvalid">
        <label class="subtitle-container">Name</label>
        <div class="bigger-input-container input-container">
          <input
            (click)="resetWarnings()"
            class="input-field"
            type="text"
            formControlName="name"
          />
        </div>
      </div>

      <div class="two-inputs-container">
        <div class="input-label-container" [class.error]="isInvalid">
          <label class="subtitle-container">Required Level</label>
          <div class="smaller-input-container input-container">
            <input
              (click)="resetWarnings()"
              class="input-field"
              type="text"
              formControlName="requiredLevel"
            />
          </div>
        </div>
        <div class="input-label-container" [class.error]="isInvalid">
          <label class="subtitle-container">Reward XP</label>
          <div class="smaller-input-container input-container">
            <input
              (click)="resetWarnings()"
              class="input-field"
              type="text"
              formControlName="reward"
            />
          </div>
        </div>
      </div>

      <div class="input-label-container" [class.error]="isInvalid">
        <label class="subtitle-container">Description</label>
        <div class="text-area-container error">
          <textarea
            (click)="resetWarnings()"
            cols="82"
            rows="5"
            [maxlength]="200"
            class="text-area-field"
            formControlName="description"
          >
          </textarea>
        </div>
      </div>

      <div class="input-label-container" [class.error]="isInvalid">
        <label class="subtitle-container">Upload file</label>

        <div
          class="drag-zone"
          (dragover)="onDragOver($event)"
          (dragleave)="onDragEnd($event)"
          (drop)="onFileDrop($event)"
          #dragZoneRef
        >
          <input
            type="file"
            (change)="onFileChange($event)"
            #fileInput
            class="visually-hidden"
          />

          <div
            *ngIf="!fileName"
            class="upload-container justify-center align-center"
            (click)="fileInput.click()"
          >
            <div class="image-container">
              <img
                [src]="PATHS.ICONS + 'upload-solid.svg'"
                class="drop-image"
                alt="Upload"
              />
              <span class="drop-text">or drop it here</span>
            </div>
          </div>

          <div *ngIf="fileName" class="container-file-title">
            <p (click)="downloadDocument($event)" class="file-title">
              {{ fileName }}
            </p>
            <div class="container-delete-file-img" (click)="removeFile($event)">
              <img
                id="delete-file-img"
                [src]="PATHS.ICONS + 'x-solid.svg'"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="empty-container"></div>
  </form>
</div>
