<header class="header">
  <div class="header-container">
    <div class="container is-fluid header-divider">
      <div class="header-left">
        <div class="align-center justify-center">
          <div
            class="user-icon icon-size"
            [style.background-color]="
              userFirstname + ' ' + userLastname | generateColor
            "
          >
            {{ getUserInitials() | uppercase}}
          </div>
          <div class="user-details-container">
            <h1 class="name">{{ userFirstname + ' ' + userLastname }}</h1>
            <span id="email-title" class="input">{{ userEmail }}</span>
          </div>
        </div>
      </div>

      <div class="header-right flex-column">
        <div class="level-first-container">
          <div class="level-second-container">
            <span id="level-title" class="input">{{
              'Level ' + userLevel
            }}</span>
            <span id="xp-title" class="input">{{ userPoints + ' xp' }}</span>
          </div>
          <div
            class="user-icon level-icon"
            [style.background-color]="userLevel | levelColor"
          >
            {{ userLevel }}
          </div>
        </div>
        <span id="remaining-xp-title" class="input"
          >{{ this.xpUntilNextLevel }}xp to go until next level</span
        >
      </div>
    </div>
  </div>

  <div class="container">
    <app-search-bar (search)="triggerSearchDocuments($event)"></app-search-bar>
  </div>
</header>

<div class="loading-spinner" [class.not-loading]="!loading">
  <mat-spinner *ngIf="loading"></mat-spinner>
</div>

<div class="container" *ngIf="!loading">
  <div class="badges-container card">
    <img
      [class.hidden]="!displayLeftArrow"
      [src]="PATHS.ICONS + 'chevron-left.svg'"
      class="icon icon-left"
      alt=""
      (click)="previous()"
    />
    <ng-container *ngFor="let badge of displayedBadges">
      <img
        matTooltip="{{ badge.name }}"
        [src]="PATHS.ICONS + 'badge.svg'"
        class="badge-icon"
        alt=""
      />
    </ng-container>
    <ng-container>
      <span class="badges-title" *ngIf="!existBadges">
        You didn't earn any badges yet!
      </span>
    </ng-container>
    <img
      [class.hidden]="!displayRightArrow"
      [src]="PATHS.ICONS + 'chevron-right.svg'"
      class="icon icon-right"
      alt=""
      (click)="next()"
    />
  </div>
</div>

<div class="container" *ngIf="!loading && !loadingDocuments">
  <div class="table card">
    <div class="columns is-header">
      <div class="column is-4"></div>
      <div class="column is-3">Author</div>
      <div class="column is-4">Last modified</div>
      <div class="column is-1"></div>
    </div>
    <div
      class="columns"
      *ngFor="let document of documents"
      (click)="viewDocument(document.id)"
    >
      <div class="column is-4">{{ document.title }}</div>
      <div class="column is-3">
        <div
          class="user-icon"
          [style.background-color]="
            userFirstname + ' ' + userLastname | generateColor
          "
        >
          {{ getUserInitials() | uppercase}}
        </div>
      </div>
      <div class="column is-4">
        {{ document.lastModified | date: 'medium' }}
      </div>
      <div class="column is-1">
        <img
          [src]="PATHS.ICONS + 'trash-solid.svg'"
          class="icon"
          alt=""
          (click)="deleteDocument($event, document)"
        />
      </div>
    </div>
    <div *ngIf="documents.length == 0" id="container-not-found" class="columns">
      <div class="column is-4"></div>
      <div class="column is-3 not-found">
        No documents found
      </div>
      <div class="column is-4"></div>
      <div class="column is-1"></div>
    </div>
  </div>
</div>
