<header class="header">
  <div class="header-container">
    <div class="container is-fluid header-divider">
      <div class="header-left">
        <h1 class="home-link" [routerLink]="['/users']">Users</h1>
        <img
          class="chevron-img"
          [src]="PATHS.ICONS + 'chevron-right.svg'"
          alt=""
        />
        <h1 class="add-training-title">
          {{ loading ? 'Loading...' : 'Modify user' }}
        </h1>
      </div>

      <div class="header-right">
        <div class="button" [class.disabled]="loading" (click)="updateUser()">
          <img [src]="PATHS.ICONS + 'pen.svg'" class="arrow" alt="" />
          <span>Save changes</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="loading-spinner" [class.not-loading]="!loading">
  <mat-spinner *ngIf="loading"></mat-spinner>
</div>

<div class="card" *ngIf="!loading">
  <form [formGroup]="createUserForm" class="create-training-form">
    <div class="left-container">
      <div class="input-label-container" [class.error]="isInvalid">
        <label class="subtitle-container">Firstname</label>
        <div class="input-container">
          <input
            (click)="resetWarnings()"
            class="input-field"
            type="text"
            formControlName="firstname"
          />
        </div>
      </div>

      <div
        class="input-label-container"
        [class.error]="isInvalid || isEmailInvalid"
      >
        <label class="subtitle-container">Email</label>
        <div class="input-container">
          <input
            (click)="resetWarnings()"
            class="input-field"
            type="text"
            formControlName="email"
          />
        </div>
      </div>

      <div class="input-label-container" [class.error]="isInvalid">
        <label class="subtitle-container">Role</label>
        <div class="input-container">
          <input
            (click)="resetWarnings()"
            class="input-field"
            type="text"
            formControlName="role"
          />
        </div>
      </div>

      <div class="input-label-container" [class.error]="isInvalid">
        <label class="subtitle-container">Location</label>
        <div class="input-container">
          <input
            (click)="resetWarnings()"
            class="input-field"
            type="text"
            formControlName="location"
          />
        </div>
      </div>
    </div>

    <div class="right-container">
      <div class="input-label-container" [class.error]="isInvalid">
        <label class="subtitle-container">Lastname</label>
        <div class="input-container">
          <input
            (click)="resetWarnings()"
            class="input-field"
            type="text"
            formControlName="lastname"
          />
        </div>
      </div>

      <div class="input-label-container" [class.error]="isInvalid">
        <label class="subtitle-container">Type</label>
        <div class="input-container">
          <select
            formControlName="type"
            (click)="resetWarnings()"
            class="input-field custom-select"
          >
            <option *ngFor="let type of userTypes" [ngValue]="type">
              {{ type }}
            </option>
          </select>
        </div>
      </div>

      <div class="input-label-container" [class.error]="isInvalid">
        <label class="subtitle-container">Department</label>
        <div class="input-container">
          <input
            (click)="resetWarnings()"
            class="input-field"
            type="text"
            formControlName="department"
          />
        </div>
      </div>

      <div
        class="input-label-container"
        [class.error]="isInvalid || isPhoneNumberInvalid"
      >
        <label class="subtitle-container">Phone number</label>
        <div class="input-container">
          <input
            (click)="resetWarnings()"
            class="input-field"
            type="text"
            formControlName="phoneNumber"
          />
        </div>
      </div>
    </div>
  </form>
</div>

<div class="container delete-button-container">
  <div
    class="button delete-button"
    [class.disabled]="loading"
    (click)="deleteUser()"
  >
    <img [src]="PATHS.ICONS + 'trash-solid.svg'" class="arrow" alt="" />
    <span>Delete user</span>
  </div>
</div>
